<H1> Data Science Tools and Ecosystem </H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
   <ol>
    <li>python</li>
    <li>R</li>
    <li>Julia</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
   <ol>
    <li>numPy</li>
    <li>pandas</li>
    <li>matplotlib</li>
    </ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <th>Jupyter Notebook</th>
    </tr>
    <tr>
        <th>GitHub</th>
    </tr>
    <tr>
        <th>R Studio</th>
    </tr>
        
</table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<li>Popular languages that Data Scientists use</li>
<li>Commonly used libraries used by Data Scientists </li>
<li>Data Science Tools</li>
<li>examples of evaluating arithmetic expressions in Python</li>

<H2>Author</H2>
Mohankumar Markuli Chandrayigowda